{% if include.columns %}
    {% assign columns = include.columns %}
    {% if columns == '1' %}
        {% assign container = ' uk-container-xsmall' %}
    {% elsif columns == '2' %}
        {% assign container = ' uk-container-small' %}
    {% else %}
        {% assign container = '' %}
    {% endif %}
{% else %}
    {% assign columns = 3 %}
    {% assign container = '' %}
{% endif %}


{% if include.title %}<h1>{{ include.title }}</h1>{% endif %}

{% if include.subtitle %}<p class="text-xl text-gray-400">{{ include.subtitle | escape }}</p>{% endif %}

<ul role="list" class="grid grid-cols-1 gap-3 p-0 m-0 mt-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 md:-ml-[1.625em]">
  {% for item in site.data.navigation_boxes %}
    <li class="flex flex-col col-span-1 text-center bg-white rounded-lg shadow shadow-slate-300 hover:bg-slate-50">
      <a href="/{{ item.doc }}" class="hover:no-underline" title="View {{ item.title }}">
        <div class="flex flex-col items-center flex-1 p-8 text-center">
          <span class="boxes-svg">{{ item.icon }}</span>
          <h2>{{ item.title }}</h2>
          <p class="text-base text-slate-300">{{ item.desc }}</p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
