<div class="sticky z-0 grid grid-cols-12 gap-2">
  <div class="hidden py-5 pl-2 pr-5 lg:col-span-2 lg:block sidebar-docs">
    <div class="sticky z-10 pb-4 overflow-auto text-lg max-h-[40rem] top-32">
    {% if site.internal %}
      {% assign menu = site.data.menus_internal.main %} {% include navbar-side.html level = 0 %}
    {% else %}
      {% assign menu = site.data.menus.main %} {% include navbar-side.html level = 0 %}
    {% endif %}
    </div>
  </div>
  {% if page.toc == false %}
  <div class="col-span-12 px-4 py-8 prose lg:col-span-9 xs:prose-sm md:prose-base lg:prose-base max-w-none content">
  {% if page.breadcrumbs %}
  {% include breadcrumbs.html %}
  {% endif %}
  {{ content }}
  {% if page.article_navigation %}
  {% include paginate-articles.html %}
  {% endif %}
  </div>
  {% else %}
  <div class="col-span-12 px-4 py-8 prose lg:col-span-8 md:prose-base lg:prose-base xs:prose-sm max-w-none content">
    {% if page.breadcrumbs %}
    {% include breadcrumbs.html %}
    {% endif %}
    {{ content }}
    {% if page.article_navigation %}
    {% include paginate-articles.html %}
    {% endif %}
  </div>
  <div class="hidden py-8 pl-4 lg:col-span-2 lg:block">
    <div class="sticky z-10 pt-1 pb-2 pl-4 pr-2 mt-2 text-sm border-l border-solid border-theme-color top-36">
      <div class="px-0 py-1 pb-3 pl-4 font-bold uppercase">On this page</div>
      {% include toc.html html=content %}
    </div>
  </div>
  {% endif %}
</div>
