{% if menu %} {% assign isSubmenu = include.submenu %}
{{ data.menus.home }}
<ul class="sidebar-nav nav-parent-icon text-sm xl:text-lg font-bold relative pt-0 ml-0 {% if include.submenu %}sidebar-nav-sub font-normal hidden pb-1 pl-0 pr-0{% else %}root-menu{% endif %}">
  {% for item in menu %}
  {% if item.children %}
  <li class="nav-parent menu-item-{{ forloop.index }} ml-3 relative pt-2">
    <a href="{{ item.url }}" title="Go to {{ item.title }}" class="{% if item.url == page.url %}text-theme-color{% else %}text-gray-500{% endif %} pr-4 text-base no-underline menu-link hover:text-theme-color">{{ item.title }}</a>
    <div class="absolute right-0 w-6 h-6 bg-no-repeat parent-icon top-[0.55rem] xl:top-[0.72rem]">
      <img class="w-6 h-6 hover:cursor-pointer" title="Expand menu"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
      />
    </div>
    {% assign level = 0 | plus: 1 %}
    {% assign menu = item.children %} {% include navbar-side.html submenu="yes" level = level %}
  </li>
  {% else %}
  <li
    class="menu-item-{{ forloop.index }} ml-3 pt-2"
  >
    {% assign page_url = page.url | remove: '.html' | append: '/' %}
    <a href="{{ item.url }}" title="Go to {{ item.title }}" class="{% if item.url == page_url %}text-theme-color font-medium{% else %}text-gray-500{% endif %} {% if include.level == 0 %}text-base{% else %}text-sm{% endif %} pr-4 no-underline menu-link hover:text-theme-color"
      > {{ item.title }}</a
    >
  </li>
  {% endif %} {% endfor %}
</ul>
{% endif %}
